'.source.airnovel':
  'if':
    'prefix': 'if'
    'body': 'if exp="$1"]\n\t$2\n[endif'
  'elsif':
    'prefix': 'elsif'
    'body': 'elsif exp="$1"'
  'macro':
    'prefix': 'macro'
    'body': 'macro name=$1]\n\t$2\n[endmacro'
  'link':
    'prefix': 'link'
    'body': 'link$1]$2[endlink$0'
