'.source.airnovel':
  'add_lay':
    'prefix': 'add_lay'
    'body': 'add_lay layer=$1 class=$2'
  'let':
    'prefix': 'let'
    'body': 'let name=$1 text=$2'
  'if':
    'prefix': 'if'
    'body': 'if exp="$1"]\n\t$2\n[endif'
  'elsif':
    'prefix': 'elsif'
    'body': 'elsif exp="$1"'
  'else':
    'prefix': 'else'
    'body': 'else'
  'macro':
    'prefix': 'macro'
    'body': 'macro name=$1]\n\t$2\n[endmacro'
  'lay':
    'prefix': 'lay'
    'body': 'lay layer=$1'
  'close':
    'prefix': 'close'
    'body': 'close'
  'export':
    'prefix': 'export'
    'body': 'export'
  'import':
    'prefix': 'import'
    'body': 'import'
  'loadplugin':
    'prefix': 'loadplugin'
    'body': 'loadplugin fn=$1'
  'mouse':
    'prefix': 'mouse'
    'body': 'mouse'
  'navigate_to':
    'prefix': 'navigate_to'
    'body': 'navigate_to url=$1'
  'plugin':
    'prefix': 'plugin'
    'body': 'plugin name=$1'
  'set_focus':
    'prefix': 'set_focus'
    'body': 'set_focus to=$1'
  'snapshot':
    'prefix': 'snapshot'
    'body': 'snapshot'
  'title':
    'prefix': 'title'
    'body': 'title text="$1"'
  'toggle_full_screen':
    'prefix': 'toggle_full_screen'
    'body': 'toggle_full_screen'
  'unloadplugin':
    'prefix': 'unloadplugin'
    'body': 'unloadplugin fn=$1'
  'unzip':
    'prefix': 'unzip'
    'body': 'unzip url=$1'
  'update_check':
    'prefix': 'update_check'
    'body': 'update_check url=$1'
  'wait_thread':
    'prefix': 'wait_thread'
    'body': 'wait_thread'
  'window':
    'prefix': 'window'
    'body': 'window'
  'let_abs':
    'prefix': 'let_abs'
    'body': 'let_abs name=$1 text=$2'
  'let_char_at':
    'prefix': 'let_char_at'
    'body': 'let_char_at name=$1 text=$2'
  'let_index_of':
    'prefix': 'let_index_of'
    'body': 'let_index_of name=$1 text=$2 val=$3'
  'let_length':
    'prefix': 'let_length'
    'body': 'let_length name=$1 text=$2'
  'let_replace':
    'prefix': 'let_replace'
    'body': 'let_replace name=$1 text=$2 reg=$3 val=$4'
  'let_round':
    'prefix': 'let_round'
    'body': 'let_round name=$1 text=$2'
  'let_search':
    'prefix': 'let_search'
    'body': 'let_search name=$1 text=$2 reg=$3'
  'let_substr':
    'prefix': 'let_substr'
    'body': 'let_substr name=$1 text=$2'
  'clear_lay':
    'prefix': 'clear_lay'
    'body': 'clear_lay'
  'trans':
    'prefix': 'trans'
    'body': 'trans'
  'wt':
    'prefix': 'wt'
    'body': 'wt'
  'finish_trans':
    'prefix': 'finish_trans'
    'body': 'finish_trans'
  'auto_pager':
    'prefix': 'auto_pager'
    'body': 'auto_pager'
  'autowc':
    'prefix': 'autowc'
    'body': 'autowc'
  'ch':
    'prefix': 'ch'
    'body': 'ch text=$1'
  'clear_text':
    'prefix': 'clear_text'
    'body': 'clear_text'
  'current':
    'prefix': 'current'
    'body': 'current layer=$1'
  'link':
    'prefix': 'link'
    'body': 'link$1]$2[endlink$0'
  'er':
    'prefix': 'er'
    'body': 'er'
  'graph':
    'prefix': 'graph'
    'body': 'graph pic=$1'
  'rec_ch':
    'prefix': 'rec_ch'
    'body': 'rec_ch text=$1'
  'rec_r':
    'prefix': 'rec_r'
    'body': 'rec_r'
  'reset_rec':
    'prefix': 'reset_rec'
    'body': 'reset_rec'
  'ruby':
    'prefix': 'ruby'
    'body': 'ruby text=$1'
  'ruby2':
    'prefix': 'ruby2'
    'body': 'ruby2 t=$1 r=$2'
  'span':
    'prefix': 'span'
    'body': 'span'
  'tcy':
    'prefix': 'tcy'
    'body': 'tcy t=$1'
  'add_face':
    'prefix': 'add_face'
    'body': 'add_face name=$1'
  'let_face_frame':
    'prefix': 'let_face_frame'
    'body': 'let_face_frame name=$1 layer=$2'
  'let_face_totalframes':
    'prefix': 'let_face_totalframes'
    'body': 'let_face_totalframes name=$1 layer=$2'
  'play_face':
    'prefix': 'play_face'
    'body': 'play_face layer=$1'
  'stop_face':
    'prefix': 'stop_face'
    'body': 'stop_face layer=$1'
  'wa':
    'prefix': 'wa'
    'body': 'wa layer=$1'
  'pausevideo':
    'prefix': 'pausevideo'
    'body': 'pausevideo layer=$1'
  'resumevideo':
    'prefix': 'resumevideo'
    'body': 'resumevideo layer=$1'
  'rewindvideo':
    'prefix': 'rewindvideo'
    'body': 'rewindvideo layer=$1'
  'seekvideo':
    'prefix': 'seekvideo'
    'body': 'seekvideo layer=$1 offset=$2'
  'toggle_pousevideo':
    'prefix': 'toggle_pousevideo'
    'body': 'toggle_pousevideo layer=$1'
  'wv':
    'prefix': 'wv'
    'body': 'wv layer=$1'
  'exist_html':
    'prefix': 'exist_html'
    'body': 'exist_html layer=$1'
  'let_html':
    'prefix': 'let_html'
    'body': 'let_html layer=$1'
  'set_html':
    'prefix': 'set_html'
    'body': 'set_html layer=$1 text=$2'
  'event':
    'prefix': 'event'
    'body': 'event key=$1'
  'clear_event':
    'prefix': 'clear_event'
    'body': 'clear_event'
  'enable_event':
    'prefix': 'enable_event'
    'body': 'enable_event'
  'geature_event':
    'prefix': 'gesture_event'
    'body': 'gesture_event'
  'set_cancel_skip':
    'prefix': 'set_cancel_skip'
    'body': 'set_cancel_skip'
  'wait':
    'prefix': 'wait'
    'body': 'wait time=$1'
  'waitclick':
    'prefix': 'waitclick'
    'body': 'waitclick'
  'fadebgm':
    'prefix': 'fadebgm'
    'body': 'fadebgm time=$1 volume=$2'
  'fadeoutbgm':
    'prefix': 'fadeoutbgm'
    'body': 'fadeoutbgm time=$1'
  'fadeoutse':
    'prefix': 'fadeoutse'
    'body': 'fadeoutse time=$1'
  'fadese':
    'prefix': 'fadese'
    'body': 'fadese time=$1 volume=$2'
  'playbgm':
    'prefix': 'playbgm'
    'body': 'playbgm fn=$1'
  'playse':
    'prefix': 'playse'
    'body': 'playse fn=$1'
  'stop_allse':
    'prefix': 'stop_allse'
    'body': 'stop_allse'
  'stopbgm':
    'prefix': 'stopbgm'
    'body': 'stopbgm'
  'stopfadese':
    'prefix': 'stopfadese'
    'body': 'stopfadese'
  'stopse':
    'prefix': 'stopse'
    'body': 'stopse'
  'volume':
    'prefix': 'volume'
    'body': 'volume'
  'wb(wait fade bgm)':
    'prefix': 'wb'
    'body': 'wb'
  'ws(wait end se)':
    'prefix': 'ws'
    'body': 'ws'
  'wf(wait fade)':
    'prefix': 'wf'
    'body': 'wf'
  'wl(wait end bgm)':
    'prefix': 'wl'
    'body': 'wl'
  'xcngbuf':
    'prefix': 'xcngbuf'
    'body': 'xcngbuf'
  'button':
    'prefix': 'button'
    'body': 'button pic=$1'
  'call':
    'prefix': 'call'
    'body': 'call'
  'jump':
    'prefix': 'jump'
    'body': 'jump'
  'pop_stack':
    'prefix': 'pop_stack'
    'body': 'pop_stack'
  'return':
    'prefix': 'return'
    'body': 'return'
  'bracket2macro':
    'prefix': 'bracket2macro'
    'body': 'bracket2macro name=$1 text=$2'
  'break_macro':
    'prefix': 'break_macro'
    'body': 'break_macro'
  'char2macro':
    'prefix': 'char2macro'
    'body': 'char2macro name=$1 char=$2'
  'copybookmark':
    'prefix': 'copybookmark'
    'body': 'copybookmark from=$1 to=$2'
  'erasebookmark':
    'prefix': 'erasebookmark'
    'body': 'erasebookmark place=$1'
  'load':
    'prefix': 'load'
    'body': 'load place=$1'
  'record_place':
    'prefix': 'record_place'
    'body': 'record_place'
  'save':
    'prefix': 'save'
    'body': 'save place=$1'
  'clearsysvar':
    'prefix': 'clearsysvar'
    'body': 'clearsysvar'
  'clearvar':
    'prefix': 'clearvar'
    'body': 'clearvar'
  'dump_lay':
    'prefix': 'dump_lay'
    'body': 'dump_lay'
  'dump_val':
    'prefix': 'dump_val'
    'body': 'dump_val'
  'dump_stack':
    'prefix': 'dump_stack'
    'body': 'dump_stack'
  'log':
    'prefix': 'log'
    'body': 'log text=$1'
  'reload_script':
    'prefix': 'reload_script'
    'body': 'reload_script'
  'stats':
    'prefix': 'stats'
    'body': 'stats'
  'trace':
    'prefix': 'trace'
    'body': 'trace text=$1'
